
<div class="buttons">
  <button class="iptal" >İPTAL</button>
  <button class="kaydet">KAYDET</button>
  </div>
<div class="image"></div>

<div class="inputs">
  <nav class="nname">İSİM :<input type="text" #inputad class="name" placeholder="Adınızı Giriniz..."/></nav><br/>
  <nav class="nsurname">SOYİSİM :<input type="text" #inputsa class="surname" placeholder="Soyadınızı Giriniz..."/></nav><br/>
  <nav class="nnumber">NUMARA :<input type="text" #inputnum class="number" placeholder="Telefon Numaranızı Giriniz..."/></nav>
</div>


<!-- <mat-toolbar color="primary" class="mat-elevation-z6">
    <span>{{Baslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="form">
      <mat-form-field>
          <input matInput placeholder="İSİM" formControlName="kisiAd">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="SOYİSİM" formControlName="kisiSoyad">
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="TELEFON NUMARASI" formControlName="kisiNum">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="this.dialogRef.close(form.value)">Kaydet</button>
      <button mat-raised-button color="warn" (click)="this.dialogRef.close()">İptal</button>
  </form>
  </div> -->
